html {
	box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

html,
body {
	height: 100%;
	font-family: "Montserrat", sans-serif;
	color: #222222;
	font-weight: 600;
	font-size: 25px;
}

p, h1, h2, h2 {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1025px;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
	flex: 1;
}

